openapi: 3.2.0
info:
  title: DFlow Aggregator Admin API
  description: DFlow Aggregator API
  license:
    name: BUSL-1.1
  version: 0.1.0
servers:
- url: https://quote-api.dflow.net
security:
- api_key: []
tags:
- name: Admin
paths:
  /health-check:
    get:
      tags:
      - Admin
      operationId: handler_health_check
      responses:
        '200':
          description: Healthy
          content:
            text/plain:
              schema:
                type: string
        '503':
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckServiceUnavailableResponse'
      summary: Handler health check
      x-summary-source: derived
components:
  schemas:
    HealthCheckServiceUnavailableResponse:
      type: object
      required:
      - msg
      - code
      properties:
        code:
          $ref: '#/components/schemas/HealthCheckServiceUnavailableCode'
        msg:
          type: string
      example:
        code: <enum<string>>
        msg: <string>
    HealthCheckServiceUnavailableCode:
      type: string
      enum:
      - amm_map_not_initialized
      - amm_map_lagging
      - mint_info_not_initialized
      - reference_price_map_not_initialized
      - blockhash_unavailable
      - internal
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication. Contact hello@dflow.net to obtain an API key.
