openapi: 3.1.0
info:
  title: DFlow Aggregator admin tokens API
  description: DFlow Aggregator API
  license:
    name: BUSL-1.1
  version: 0.1.0
servers:
- url: https://quote-api.dflow.net
security:
- api_key: []
tags:
- name: tokens
  description: Token endpoints
paths:
  /tokens:
    get:
      tags:
      - tokens
      summary: 'Returns a list of supported token mints, specically any mints that a pool for trading was

        available atleast once in the lifetime of the server.'
      operationId: tokens_handler
      responses:
        '200':
          description: List of supported token mints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vec'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokensServiceUnavailableResponse'
  /tokens-with-decimals:
    get:
      tags:
      - tokens
      summary: 'Returns a list of supported token mints and their decimals, specically any mints that a pool for trading was

        available atleast once in the lifetime of the server.'
      operationId: tokens_with_decimals_handler
      responses:
        '200':
          description: List of supported token mints with decimals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokensWithDecimalsDoc'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokensServiceUnavailableResponse'
components:
  schemas:
    TokensWithDecimalsDoc:
      type: array
      items:
        type: array
        items: {}
        prefixItems:
        - type: string
        - type: integer
        maxItems: 2
        minItems: 2
      examples:
      - - - So11111111111111111111111111111111111111112
          - 9
        - - EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
          - 6
    TokensServiceUnavailableCode:
      type: string
      enum:
      - mint_info_not_initialized
    TokensServiceUnavailableResponse:
      type: object
      required:
      - msg
      - code
      properties:
        code:
          $ref: '#/components/schemas/TokensServiceUnavailableCode'
        msg:
          type: string
      example:
        code: <enum<string>>
        msg: <string>
    Vec:
      type: array
      items:
        type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication. Contact hello@dflow.net to obtain an API key.
